<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>KIC4_Project</display-name>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>ControllerAction</servlet-name>
  	<servlet-class>controller.ControllerAction</servlet-class>
  	<init-param>
  		<param-name>propertyConfig</param-name>
  		<param-value>C:/KICCAMPUS/4.jsp/sou/KIC4_Project3/src/main/webapp/WEB-INF/commandPro.properties</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>ControllerAction</servlet-name>
  	<url-pattern>*.shop</url-pattern>
  </servlet-mapping>
  
  <!-- 한글 인코딩 -->
  <filter>
  	<filter-name>SetCharEncoding</filter-name>
  	<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>SetCharEncoding</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
</web-app>